<section>
  <h2 class="font-raleway mt-5 md:mt-24 md:mb-12 text-center font-black text-text text-4xl">OUR MISSION</h2>
  <div class=" h-full relative">
    <div class=" h-full w-full z-20">
      <div class="mb-4 px-2">
        <h3 class="mt-10 text-center text-text font-bold mx-0 md:mx-2 text-3xl">IDEATION <mat-icon aria-hidden="false"
            aria-label="Example home icon" class="mx-0 md:mx-5">east</mat-icon>
          PROTOTYPE </h3>
      </div>
      <p class="mx-auto text-center px-6 text-text font-roboto md:text-base leading-6 w-full md:w-7/12">We drive from
        ideation through
        prototype innovative, disruptive, replicable, and scalable solutions for cloud-based
        infrastructure and public services that materially benefit the government and its citizens, as a service for the
        greater human good. The process will be complemented with adequate enablement and technical validation support
        from
        AWS to ensure well architected solutions, and build capacity in a learning-by-doing approach
      </p>
    </div>
    <div>
      <img src="../../../assets/img/our mission.svg" class="mx-auto relative  right-0 left-0 bottom-32 md:bottom-52"
        style="z-index: -10;" alt="illustration-our-mission">
      <img src="../../../assets/img/ornament-our-mission.svg" alt="ornament"
        class="absolute left-4 bottom-32 md:bottom-2/4 w-14 h-14 md:left-20 md:w-28 md:h-28">
    </div>
  </div>
</section>

