<section id="team" class="p-5 md:p-20 relative">
    <div class="flex flex-col md:flex-row z-10 relative top-10" >
        <div>
            <img src="../../../assets/images/creative-team-animate.svg" alt="team-images" class="md:hidden">
        </div>
        <div class="grid place-content-center text-text px-2 md:w-6/12">
            <h4 class="font-raleway text-base text-center font-extrabold md:text-5xl md:pb-2 md:text-left">TEAM</h4>
            <p class="font-roboto text-xs text-center font-normal md:text-xl md:text-left">Meet the team behind SEAL!
                Our team brings diverse range of expertise to the table, working under the guidance of the high-performing leaders and senior management, which is the steering committee.</p>
            <button routerLink="/team-detail" class="md:block md:mt-4  bg-accent w-28 h-11  md:w-32 md:h-12 rounded-md font-roboto font-bold text-text md:text-base  text-sm md:mx-0 mx-auto my-5">READ MORE</button>
        </div>
        
            <img src="../../../assets/images/creative-team-animate.svg" alt="team-images" class="hidden md:inline w-6/12">
    
      
    </div>
</section>
