<section id="contact" class="relative px-8">
    <div class="flex flex-row top-16 z-0 absolute md:left-10 md:top-10 left-5">
        <img src="../../../assets/images/Ornament.png" alt="ornament" class="w-24 md:w-44 md:mt-40 transform rotate-90">
    </div>
    <div class="z-10 relative top-14 py-10 md:top-10 md:py-20">
        <h4 class="font-raleway text-base font-extrabold leading-2 text-center md:text-5xl">CONTACT US</h4>
        <p class="font-raleway text-xs font-normal leading-2 text-center md:text-xl md:mt-7">Get in touch and let us know how we can help you</p>
        <div class="flex md:flex-row flex-col justify-center items-center w-full  md:mt-5">
            <a href="https://wa.me/6281357477083">
                <div class="card text-center border rounded-lg w-44 p-5  mx-5 hover:border-transparent hover:shadow-xl duration-300 cursor-pointer my-3">
                    <i class="fab fa-whatsapp"></i>
                    <p>+62 813-5747-7083</p>
                </div>
            </a>
            <a href="mailto:contact@seal.or.id">
                <div class="card text-center border rounded-lg w-44 p-5  mx-5 hover:border-transparent hover:shadow-xl duration-300 cursor-pointer my-3">
                    <i class="fas fa-envelope"></i>
                    <p>contact@seal.or.id</p>
                </div>
            </a>
        </div>
        <div class="flex flex-row z-0 absolute md:bottom-24 md:right-10 right-2 bottom-2">
            <img src="../../../assets/images/Ornament.png" alt="ornament" class="w-20 md:w-32 transform -rotate-180">
        </div>
    </div>

</section>