<section class="w-full flex flex-col justify-center items-center py-5 md:py-10">
    <div class="w-11/12 md:w-8/12 ">
        <div class="relative flex justify-between md:justify-center md:items-center">
            <button routerLink="/" class="md:absolute left-0 font-roboto text-2xl flex items-center font-medium text-text-home ">
        <span class="material-icons mx-1 font-black">arrow_back</span>
        Home</button>
            <img src="../../../assets/img/logo-seal.png" class="h-9 md:h-12" alt="">
        </div>
        <div class="about mt-10 md:mt-28 text-center flex flex-col items-center relative ">
            <h2 class="text-text font-raleway font-bold text-xl opacity-50">ABOUT</h2>
            <h2 class="text-text font-raleway font-bold text-3xl">SINGHASARI SEZ</h2>
            <img src="../../../assets/images/hero-about.png" class="mt-8 w-11/12" alt="hero-about">
            <img class="md:top-36 top-60 right-0 md:-right-24 md:w-60 w-2/12 transform rotate-180 absolute" src="../../../assets/img/Ornament.png" style="z-index: -10;" alt="ornament">
            <p class="mt-10 md:mt-20 font-roboto text-xl leading-snug md:leading-normal text-text">Singhasari SEZ the first digital SEZ in Indonesia, as decreed in the Government Regulation (GR) No. 68 Year 2019 and signed by the President of the Republic of Indonesia. <br> <br> Special Economic Zone (SEZ) Singhasari is the designated SEZ
                for Tourism and Digital Technology Development. The decree is particularly noteworthy given that Singhasari is the first SEZ to be granted a designation in Digital Technology Development. Singhasari SEZ is geographically situated in a
                key strategic area for business and investment.
            </p>
        </div>
    </div>
    <div class="w-full px-2 mt-10 bg-program text-center py-12 md:py-24 flex flex-col justify-center items-center">
        <h2 class="font-raleway font-bold text-2xl md:text-4xl text-text">Peta Sebaran Kawasan Ekonomi Khusus (KEK)</h2>
        <img src="../../../assets/images/peta.png" class="mt-6 md:mt-12" alt="">
    </div>
    <div class="relative w-full px-2 mt-10 md:mt-44 flex flex-col justify-center items-center text-center">
        <img src="../../../assets/img/Ornament.png" alt="ornament" class="absolute left-4 -top-6 md:-top-24 w-14 h-14 md:left-24 md:w-56 md:h-56">
        <h2 class="font-raleway font-bold text-2xl md:text-4xl text-text">3C in Digital: Content, Computing and Commerce
        </h2>
        <img src="../../../assets/images/content.png" class="mt-6 md:mt-12" alt="">
    </div>
</section>
<app-footer></app-footer>