<section class="w-full flex flex-col justify-center items-center py-5 md:py-10">
    <div class="w-11/12 md:w-8/12 ">
        <div class="relative flex justify-between md:justify-center md:items-center">
            <button routerLink="/" class="md:absolute left-0 font-roboto text-2xl flex items-center font-medium text-text-home ">
        <span class="material-icons mx-1 font-black">arrow_back</span>
        Home</button>
            <img src="../../../assets/img/logo-seal.png" class="h-9 md:h-12" alt="">
        </div>

        <div class="team-detail relative">
            <img class=" right-0 md:-right-24 md:w-60 top-4 w-3/12 transform rotate-90 absolute" src="../../../assets/img/Ornament.png" style="z-index: -10;" alt="ornament">

            <div class="w-full">
                <div class="Steering Committee flex flex-col items-center px-5 md:px-0 ">
                    <h2 class=" text-center font-raleway font-bold text-2xl md:text-4xl text-text my-8">Steering Committee</h2>
                    <!-- team -->
                    <div class="md:flex md:justify-center  md:mt-4">
                        <div class="card text-center" *ngFor="let t of team">
                            <img [src]="t.img" class="w-10/12 md:w-11/12 mx-auto " alt=" ">
                            <div class="mt-3 mb-8">
                                <h2 class="font-raleway font-bold text-xl text-text  ">{{t.name}}</h2>
                                <p class="text-text text-xl roboto ">{{t.position}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- team 2 -->
                    <div class="md:flex md:justify-center md:mt-4 md:w-8/12">
                        <div class="card text-center" *ngFor="let t of team2">
                            <img [src]="t.img" class="w-10/12 md:w-11/12 mx-auto " alt=" ">
                            <div class="mt-3 mb-8">
                                <h2 class="font-raleway font-bold text-xl text-text  ">{{t.name}}</h2>
                                <p class="text-text text-xl roboto ">{{t.position}}</p>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="grid grid-cols-1 md:grid-cols-3 gap-12 mt-7 md:mt-4">
                <div class="card text-center" *ngFor="let t of team">
                    <img [src]="t.img" class="w-10/12 md:w-full mx-auto " alt=" ">
                    <h2 class="font-raleway font-bold text-xl text-text mt-8 ">{{t.name}}</h2>
                    <p class="text-text text-xl roboto ">{{t.position}}</p>
                </div>
            </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>